
        <footer class="page-footer darkslate silverfox-text">
            <div class="container">
              <div class="row">
                <div class="col l4 s12">
                  <h5 class="white-text"> {{ site.tr[page.lang].link.name }}</h5>
                    <ul>
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="mailto:ange.crespo@hotmail.fr">
                        <span class="iconify" data-icon="ic:baseline-email" data-inline="false"></span>
                        Email : ange.crespo@hotmail.fr</a></li>
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://github.com/ange-crespo">
                        <span class="iconify" data-icon="cib:github" data-inline="false"></span>
                        Github : github.com/ange-crespo</a></li>
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://www.kaggle.com/adeeplearn">
                        <span class="iconify" data-icon="simple-icons:kaggle" data-inline="false"></span>aggle : Adeeplearn</a></li>
                    </ul>
                <div class="col l6 s12">
                  <!--<h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                  -->
                </div>
                
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2020 Copyright Ange Crespo
              </div>
            </div>
          </footer>
              