
        <footer class="page-footer darkslate silverfox-text">
            <div class="container">
              <div class="row">
                <div class="col s12 m4 l4">
                  <h5 class="white-text"> {{ site.tr[page.lang].link.name }}</h5>
                    <ul>
                      
                      <li class="linkfoot"><a class="darkslate text-lighten-4" style="color:#d8485a;" href="https://tipeee.com/ang-crsp">
                        <img style="height:15px;" src="/statics/img/Tipeee_logo.svg" alt="Tipeee logo">
                        {{ site.tr[page.lang].tip.name }}</a>
                      </li>
                      
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://github.com/ange-crespo">
                        <span class="iconify svg-footer" data-icon="cib:github" data-inline="false"></span>
                      Github  {{ site.tr[page.lang].github.name }}</a>
                      </li>
                      
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://www.malt.fr/profile/angecrespo">
                        <span>
                          
                          <a class="darkslate grey-text text-lighten-4" href="https://www.malt.fr/profile/angecrespo" target="_blank" rel="noopener">
                          <svg alt= "hireme malt" class="malt-logo-footer standard svg-footer" style="width: 15px; height: 15px; transition-property: margin;" xmlns="http://www.w3.org/2000/svg" width="92.3" height="92.3" viewBox="0 0 92.3 92.3">
                            <path d="M79 14.2c-4.6-4.5-12-4.5-16.4 0L13.4 62.8C9 67.3 9 74.6 13.4 79c4.4 4.5 11.7 4.5 16.2 0l49-48.6c4.7-4.6 4.7-12 .3-16.4"></path>
                            <path  d="M57.6 12.3C57.6 4.5 52.6 0 46 0 40 0 34.7 6 34.6 12.3L46 24l11.6-11.7z"></path>
                            <path  d="M30.5 13.8c-2-2.2-5-3.5-8-3.5-3.2 0-6 1-8.3 3.2-4.6 4.4-4.7 11.7-.4 16.3l1.7 1.8h24.3l4-3.8-13.3-14z"></path>
                            <path  d="M11.6 35c-3 0-6 1.3-8.2 3.4-2.2 2.2-3.4 5-3.4 8 0 3.2.6 11.7 13.2 11.7l23-22.8H11.7z"></path>
                            <path  d="M34.6 80c0 7.8 5 12.3 11.5 12.3 6.4 0 11.6-6 11.7-12.3L46 68.3 34.6 80z"></path>
                            <path  d="M78.4 63.7L76.7 62l-24.3-.2-4 4L62 79.5c4.4 4.6 11.7 4.7 16.3.4 4.6-4.4 4.7-11.7.4-16.3"></path>
                            <path  d="M79.2 35.3L56 58.3h24.6c3.2 0 6-1 8.2-3.2 2.2-2 3.4-5 3.4-8 0-6.4-5-11.8-13-11.7"></path>
                          </svg>
                        </span>
                        Malt {{ site.tr[page.lang].malt.name }}</a>
                        </li>
                      
                      <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://www.kaggle.com/adeeplearn">
                        <span class="iconify svg-footer" data-icon="simple-icons:kaggle" data-inline="false"></span>aggle : Adeeplearn</a>
                      </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                  <h5 class="white-text">Social</h5>
                  <ul>

                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://www.instagram.com/angcrsp/">
                      <span class="iconify svg-footer" data-icon="ant-design:instagram-filled" data-inline="false"></span>
                      Instagram {{ site.tr[page.lang].insta.name }}</a>
                    </li>

                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://facebook.com/ang.crp">
                      <span class="iconify svg-footer" data-icon="cib:facebook" data-inline="false"></span>
                      acebook {{ site.tr[page.lang].fb.name }}</a>
                    </li>

                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://www.linkedin.com/angcrsp/">
                     
                     <span class="iconify svg-footer" data-icon="bx:bxl-linkedin-square" data-inline="false"></span>
                     Linkedin {{ site.tr[page.lang].linkedin.name }}</a>
                    </li>
                  </ul>
                </div>

                <div class="col s12 m4  l4">
                  <h5 class="white-text">Contacts</h5>
                  <ul>
                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="mailto:ange.crespo@hotmail.fr">
                      <span class="iconify svg-footer" data-icon="ic:baseline-email" data-inline="false"></span>
                      Email : ange.crespo@hotmail.fr</a>
                    </li>
                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="tel:+33766136757">
                      <span class="iconify svg-footer" data-icon="mdi-phone" data-inline="false"></span>
                      Tel : +33 7.66.13.67.57</a>
                    </li>
                    <li class="linkfoot"><a class="darkslate grey-text text-lighten-4" href="https://wa.me/886938800699?text=Hi%21">
                      <span class="iconify svg-footer" data-icon="bx:bxl-whatsapp" data-inline="false"></span>
                      {{ site.tr[page.lang].whatsapp.name }}</a>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2020 Copyright Ange Crespo
              </div>
            </div>
          </footer>
              