<div class = "previous-next">
    {% for post in site.posts %}
      {% if post.lang == page.lang %}
        {% if prev %}
            <span class="left">
                <a class="areyayellow-text" href="{{ post.url }}"><i class="material-icons small areyayellow-text">arrow_back</i>{% if page.lang == 'en' %}Previous{% endif %}{% if page.lang == 'fr' %}Précédent{% endif %}</a>
            </span>
        {% endif %}
        {% assign prev = false %}
        {% if post.id == page.id %}
          {% assign prev = true %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for post in site.posts reversed %}
      {% if post.lang == page.lang %}
        {% if next %}
        <span class="right">
          <a class="areyayellow-text" href="{{ post.url }}">{% if page.lang == 'en' %}Next{% endif %}{% if page.lang == 'fr' %}Suivant{% endif %}
            <i class="material-icons small areyayellow-text">arrow_forward</i>
          </a>
        </span>
          {% break %}
        {% endif %}
        {% assign next = false %}
        {% if post.id == page.id %}
          {% assign next = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
</div>