<!DOCTYPE html>
	<html>
		{% include head.html %}
		<body lang= "{{ page.lang }}">
			<header>
				<nav class="darkslate areyayellow-text"> 
					<div class="nav-wrapper">
						<ul id="nav-mobile" class="left hide-on-med-and-down">
								{% for menu in site.t[page.lang] %}
								<li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
								{% endfor %}
						</ul>
						
						<ul id="nav-mobile" class="right hide-on-med-and-down">

								{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
								{% for post in posts %}
								  <li>
									<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
								  </li>
								{% endfor %}
								
								{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
								{% for page in pages %}
								  <li>
									<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
								  </li>
								{% endfor %}

						</ul>
					</div>
				</nav>
			</header>
			<main>	
				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->
			</main>
			{% include footer.html %}
			
			{% include scripts.html %}
		</body>
	</html>