---
layout: default
---
  <div class="row">
    
      <h3 class="header left-align">{{ page.title }}</h3>
   
  
      <p class="meta right-align">{{ site.tr[page.lang].written.name }} {% include date.html date=page.date %}</p>

    <div class="contentholder">
      {{ content }}
    </div>
    <h5>{% if page.lang == 'fr' %}Autres articles :{% endif %}{% if page.lang == 'en' %}Other articles :{% endif %}</h5>
    <div class="marquee">
      {% assign posts=site.posts | where:"lang", page.lang %}
      <ul>
      {% for post in posts %}
          <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
      {% endfor %}
      {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}

      {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}

      </ul>
    </div>

    <div>
      {% for post in site.posts %}
        {% if post.lang == page.lang %}
          {% if prev %}
            <a class="left" href="{{ post.url }}">{% if page.lang == 'en' %}Previous{% endif %}{% if page.lang == 'fr' %}Précédent{% endif %}</a>
          {% endif %}
          {% assign prev = false %}
          {% if post.id == page.id %}
            {% assign prev = true %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for post in site.posts reversed %}
        {% if post.lang == page.lang %}
          {% if next %}
            <a class="right" href="{{ post.url }}">{% if page.lang == 'en' %}Next{% endif %}{% if page.lang == 'fr' %}Suivant{% endif %}</a>
            {% break %}
          {% endif %}
          {% assign next = false %}
          {% if post.id == page.id %}
            {% assign next = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
</div>

